
@model LMS.SharedFiles.DTOs.BookDTO

@{
    ViewData["Title"] = "Book Details";
}

<h2>Details</h2>

@if(@Model.imageUrl!=null){
<img src=@Model.imageUrl alt="Image" height="150" width="100"/>
}

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            Author
        </dt>
        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt>
            Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            Genre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>
    </dl>
</div>
<div>
   <a asp-action="Index"> Back to List</a>
</div>
