@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    <div class="center-block">
        <h1 class="text-danger">Oops... Something went wrong</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        <a class="btn btn-default" style="position: center" asp-action="Index" asp-controller="Home">Return to Home Page</a>
    </div>